 header {
    font-weight: 300;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #36393e;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.page-title {
    font-family: 'Agency FB';
    text-align: center;
    color: white;
    background-color: #003d7d;
    border: 3px solid white;
    padding: 12px 12px;
}

.page-description {
    border: 1px solid green;
    text-align: center;
    padding: 100px 10px;
}

.button {
  background-color: blue;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
