header {
    font-weight: 300;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #36393e;
  }

.page-title {
    font-family: 'Agency FB';
    text-align: center;
    color: white;
    background-color: #003d7d;
    border: 3px solid white;
}

.page-description {
    border: 1px solid yellow;
    text-align: center;
    padding: 10px;
  }

.button {
  background-color: blue;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}