body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    background-color: #36393e;
  }

.page-title {
  font-family: 'Agency FB';
  text-align: center;
  color: white;
  background-color: #003d7d;
  border: 3px solid white;
  padding: 12px 12px;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 100px 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.button {
  background-color: blue;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
